# a. All log files
*.log

# b. Entire user manual folder
/user_manual/

# c. All txt files that include a "-"
*-*.txt
!final-project.txt

# d. The styles.css file
/styles.css

# e. All SRS files besides version 1-4 final versions
SRS*draft*

# f. All SDD files besides version 1-4 final versions
SDD*draft*

# g. All LaTeX build artifacts
*.aux
*.log
*.out
*.bbl
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# h. Any README files not in the root directory
**/*/README*